<!DOCTYPE html>
<html>
<head>
    <title>My First Website</title>
	<meta name="SophieHammond" content="mywebpage" />
	<meta name="My first webpage" content="boring stuff" />
	<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
<p1> Hello my name is Sophie, and I am learning to code because I want a good career.</p1>
  <div></div>
<p2>I am scared of not having a good career and not having enough money. Coding will help</p2>
	<div id="page">
		<div id="logo">
			<h1><a href="/" id="logoLink">My First Website</a></h1>
		</div>
		<div id="nav">
			<ul>
				<li><a href="#/home.html">Home</a></li>
        <%= link_to 'About', pages_about_path %>
				<li><a href="#/about.html">About</a></li>
				<li><a href="#/contact.html">Contact</a></li>
			</ul>
		</div>
		<div id="content">
			<h2>Home</h2>
			<p>
				This is my first webpage! I was able to code all the HTML and CSS in order to make it. Watch out world of web design here I come!
			</p>
			<p>
				I can use my skills here to create websites for my business, my friends and family, my C.V, blog or articles. As well as any games or more experiment stuff (which is what the web is really all about).
			</p>
		</div>
		<div id="footer">
			<p>
				Webpage made by me!!!!
			</p>
		</div>
	</div>
</body>
</html>
