#logo {
  float: left;
  font-size: 1.7em;
  color: pink;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.container-fluid {
  background-color: black;
}

.collapse navbar-collapse {
  color: white;
}

.jumbotron {
  background-image: asset-url('pink_flower.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: black;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
  color: pink;
  outline-color: black;
  outline: black;
  outline-width: thick;
}

.btn-xlarge:hover {
  color: black;
  background-color: yellow;
  font-weight: bold;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px;
  color: pink;
}

footer a:hover {
  color: yellow;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 100px;
}
