<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.github.com/sophiealicehammond">Sophie Alice Escott Hammond</a>
      <h1>Barnes Designs</h1>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About", about_path %></li>
          </ul>
        </nav>
      </footer>
